button {
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}

.cell {
    margin: 0px;
    padding: 0px;
    width: 10px;
    height: 10px;

    border-style: solid;
    border-width: 0px;
    border-color: grey;
    border-radius: 0%;
}

.active {
    background-color: rgb(44, 218, 44);
}

.idle {
    background-color: rgb(50, 50, 50);
}