input {
    padding: 5px;
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;

    font-size: 16px;
}

.content {
    padding: 5px;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.5);


    border-radius: 5px;
}

.big-lbl {
    width: 150px;
}

.sml-lbl {
    width: 5px;
    padding: 0px 10px 0px 10px;
}

.inpt {
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;

    font-size: 16px;
    
}