<div class="content">
  <div>
    <button class="btn" (click)="displayMenu = !displayMenu">Show menu</button>


  </div>

  <div *ngIf="displayMenu">
    <h1>
      Game Of Life
    </h1>
    <div class="inpt">
      <label class="big-lbl">Cells kept alive: </label>
      <input type="number" required value="{{minLive}}" (keyup)="setMinCellsAlive($event)">
      <label class="sml-lbl">/</label>
      <input type="number" required value="{{maxLive}}" (keyup)="setMaxCellsAlive($event)">
    </div>
    <div class="inpt">
      <label class="big-lbl">Cells born: </label>
      <input type="number" required value="{{minBorn}}" (keyup)="setMinCellsBorn($event)">
      <label class="sml-lbl">/</label>
      <input type="number" required value="{{maxBorn}}" (keyup)="setMaxCellsBorn($event)">
    </div>
    <div class="inpt">
      <button class="btn btn-clear" (click)="clear()">reload</button>
    </div>
    <div class="inpt">
      <label class="big-lbl">Board size: </label>
      <input type="number" required value="{{width}}" (keyup)="setWidth($event)">
      <label class="sml-lbl">x</label>
      <input type="number" required value="{{heigth}}" (keyup)="setHeigth($event)">
    </div>
    <div class="inpt">
      <label class="big-lbl">Simulation speed: </label>
      <input type="number" required value="{{tempo}}" (keyup)="setSimSpeed(event)">
    </div>
    <div class="inpt">

    </div>
    <div class="inpt">
      <div *ngIf="active ;else elseBlock">
        <button class="btn" (click)="start()">stop</button>
      </div>
      <ng-template #elseBlock>
        <button class="btn" (click)="start()">start</button>
      </ng-template>
      <button class="btn" (click)="randomize()">random</button>
    </div>
  </div>
</div>