<div class="content">
  <div>
    <button class="btn" (click)="displayMenu = !displayMenu">Show menu</button>


  </div>

  <div *ngIf="displayMenu">
    <h1>
      Game of Life
    </h1>
    <div class="inpt">
      <label class="big-lbl">Cells kept alive: </label>
      <input type="range" min="0" max="8" required value="{{minLive}}" (click)="setMinCellsAlive($event)">
      <label class="sml-lbl">{{minLive}}</label>
      <label class="sml-lbl">/</label>
      <label class="sml-lbl">{{maxLive}}</label>
      <input type="range" min="0" max="8" required value="{{maxLive}}" (click)="setMaxCellsAlive($event)">
    </div>
    <div class="inpt">
      <label class="big-lbl">Cells born: </label>
      <input type="range" min="0" max="8" required value="{{minBorn}}" (click)="setMinCellsBorn($event)">
      <label class="sml-lbl">{{minBorn}}</label>
      <label class="sml-lbl">/</label>
      <label class="sml-lbl">{{maxBorn}}</label>
      <input type="range" min="0" max="8" required value="{{maxBorn}}" (click)="setMaxCellsBorn($event)">
    </div>
    <div class="inpt">
      <button class="btn btn-clear" (click)="clear()">reload</button>
    </div>
    <div class="inpt">
      <label class="big-lbl">Board size: </label>
      <input type="range" min="5" max="30" required value="{{width}}" (click)="setSize($event)">
      <label class="sml-lbl">{{width}}</label>
      <label class="sml-lbl">X</label>
      <label class="sml-lbl">{{width}}</label>
    </div>
    <div class="inpt">
      <div *ngIf="active ;else elseBlock">
        <button class="btn" (click)="start()">stop</button>
      </div>
      <ng-template #elseBlock>
        <button class="btn" (click)="start()">start</button>
      </ng-template>
      <button class="btn" (click)="randomize()">random</button>
    </div>
  </div>
</div>