<div class="content">
  <div>
    <button (click)="displayMenu = !displayMenu">Show menu</button>
  </div>
  <div *ngIf="displayMenu">
    <h1>
      Game Of Life
    </h1>
    <div class="inpt">
      <label class="big-lbl">Cells kept alive: </label>
      <input type="number">
      <label class="sml-lbl">/</label>
      <input type="number">
    </div>
    <div class="inpt">
      <label class="big-lbl">Cells born: </label>
      <input type="number">
      <label class="sml-lbl">/</label>
      <input type="number">
    </div>
    <div class="inpt">
      <label class="big-lbl">Board size: </label>
      <input type="number">
      <label class="sml-lbl">x</label>
      <input type="number">
    </div>
    <div class="inpt">
      <label class="big-lbl">Simulation speed: </label>
      <input type="number" value="1000" (keyup)="setSimSpeed($event)">
    </div>
    <div class="inpt">
      <button class="btn" (click)="start()">start</button>
    </div>
    <div class="inpt">
      <button class="btn">clear</button>
    </div>
    <div class="inpt">
      <button class="btn">random</button>
    </div>
  </div>
</div>